@import "./varieble.scss";

.button {
  font: inherit;
  border: 1px solid $secondary_dark;
  background: $primary_light;
  color: $secondary_dark;
  cursor: pointer;
  transition: 0.5s;
  &:focus {
    outline: none;
  }

  &:hover,
  &:active {
    background: $secondary_dark;
    color: $primary_dark;
  }

  & :disabled,
  & :focus:disabled,
  & :hover:disabled,
  & :active:disabled {
    background: rgb(182, 182, 182);
    border-color: rgb(190, 190, 190);
    color: #666666;
    cursor: not-allowed;
  }
}

.card {
  background: $primary-dark;
  box-shadow: 0 2px 8px rgba(22, 22, 22, 0.5);
  border-radius: 10px;
}

.input {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  & label {
    font-weight: bold;
    margin-right: 1rem;
  }

  & input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
  }
}

li {
  list-style: none;
}

span {
  padding-left: 20px;
}

.hover {
  position: relative;

  &:hover &__no-hover {
    opacity: 1;
  }

  &:hover &__hover {
    opacity: 1;
  }

  &__hover {
    position: absolute;

    opacity: 0;
  }

  &__no-hover {
    opacity: 1;
  }
}
