@import "../../../UI/varieble.scss";

.projectSection {
  top: 200vh;
  background-color: $secondary-dark;
  >h1{
    position: absolute;
    top: 2rem;
    color: $primary_dark;
  }
}

.slider_container {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 80%;
  left: 50%;
  height: 10.2rem;
  width: 90%;
  border: 1px solid white;
  transform: translate(-50%,-50%);
}

.slide_card {
  display: block;
  
  align-items: center;
  justify-content: center;
  height: 10rem;
  padding: 0 2px 0 2px;
}

.card_img {
 
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/*
.active{
    display: block;
}

.slide_top{
    display: inline;
    position: absolute;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: var(--secondary_dark);
    cursor: pointer;
}

.slide_nav{
    display: block;
    position: absolute;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: var(--secondary_dark);
    cursor: pointer;
}

.slide_nav:hover{
    font-size:30px;
}

.nav_left{
   position: absolute;
   left: 5px;
}
.nav_right{
    position: absolute;
    right: 5px;
}




 <img src={item.image} alt="images" width='100px' height='100px'/>

.slide_card:hover{
    height: 8em;
    cursor: pointer;
}



*/
