@import '../../UI/varieble.scss';

.form_container {
  display: flex;
 flex-direction: column;
   align-items:flex-start;
   justify-content: center;
  border-color: $primary_dark;
  border-style: solid;
  position: absolute;
height: 60%;
  width: 50%;

  
}


.container_input {
  border: 0;
  outline: 0;
 // line-height: 2rem;
  border-bottom:2px solid $secondary_dark;
  background-color: transparent;
  color: $secondary_light;
 // 
}
input[type=number]::-webkit-inner-spin-button {
  appearance: none;

}

.container_label {
 
  color: $secondary_dark;
  text-align: left;
  margin-bottom: 3rem;
  position: relative;
}

.container_button{
  position: absolute;
  background-color: $secondary_dark;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  cursor:pointer;
  color: $primary_light;
  align-self: center;
  bottom: 0;
  margin-bottom: 1rem;
}
.right{
  align-self: flex-end;
  top: -50%;
  margin-right: 6rem;
}

.left{
  top: 5rem;
  margin-left: 6rem;
}