@import '../../../UI/varieble.scss';

.main-image {
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 30rem;
    
    overflow:hidden;
    left: 0;
   
  }

  .main-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-6rem) translateX(-1rem);
  }

  .cartbtn{
      display:flex;
     position: absolute;
     right: 1rem;
     top: 1rem;
   width: 16rem;
     z-index: 1;
     align-items: center;
     justify-content: center;
}

.cartbtnicon {
        position:absolute;
        width:4rem;
        height: 2rem;
         
        left: 0;
        margin-left: 1rem;  
}  

  .badge {
    background-color: #b94517;
    padding: 0.15rem 1rem;
    border-radius: 25px;
    margin-right: 1rem;
    font-weight: bold;
    position: absolute;
    right: 0;
  }
  


  
.summary {
  text-align: center;
  max-width: 45rem;
  width: 90%;
  margin: auto;
  margin-top: 24rem;
  position: relative;
  background-color: #383838;
  color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);

}

.summary h2 {
  font-size: 2rem;
  margin-top: 0;
}


.meal {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.meal h3 {
  margin: 0 0 0.25rem 0;
}

.description {
  font-style: italic;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #ad5502;
  font-size: 1.25rem;
}


.meals {
  display: flex;
  position: absolute;
   left: 50%;
   top:80vh;
  width: 50vw;
   transform: translateX(-50%);
//  animation: meals-appear 1s ease-out forwards; 
  border: 1px solid whitesmoke;
  background-color: $primary_dark;

  &>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}



// @keyframes meals-appear {
//   from {
//     opacity: 0;
//     transform: translateY(3rem);
//   }

//   to {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }

.mealForm {
  text-align: right;
  & button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;

    &:hover,
    &:active {
      background-color: #641e03;
      border-color: #641e03;
    }
  }
}


.cart-items {
  list-style: none;
  margin: 1rem;
  padding: 0;
  max-height: 20rem;
  text-align: left;
  padding-left:1rem;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-right: 2rem;
}

.actions {

   margin: 2rem;

  & >button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  
    &:hover,
    &:active {
      background-color: #5a1a01;
      border-color: #5a1a01;
      color: white;
    
    
    }
  }
  & .button--alt {
    color: #8a2b06;
  }
  
  & .button {
    background-color: #8a2b06;
    color: white;
  }
}

.cart{
  // display: flex;
  position:absolute;
  background-color: $primary-dark;
  width: 45rem;
  height: max-content;
  left: 50%;
  top: 50%;
  z-index: 5;
  transform: translate(-50%,-50%);
  animation: slide-down 300ms ease-out forwards;
  border-radius: 1rem;

}

.backdrop{
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.329);
  z-index: 4;
}

@keyframes slide-down {
  from {
    opacity: 0;
   
    
  }
  to {
    opacity: 1;
  
  }
}






